.admin-save-button {
    width: 100%;
}

.admin-user-roles-checkbox .input-checkbox-wrapper {
    margin-right: 10px;

    .input-checkbox-label {
        padding-left: 5px;
    }
}

.header-cell.roles {
    width: 20%;
}

.header-cell.admin-delete {
    width: 5%;
}